* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("Star\ Wars_\ The\ Mandalorian.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle at top, rgb(10, 15, 44), #000000);
    padding: 15px 50px;
    color: #E7D8AA;
    box-shadow: 0 2px 10px rgba(231, 216, 170, 0.3);
}

.header-logo-title {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.mandalorian-logo {
    height: 60px; 
    width: auto;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
}

header h1 {
    font-family: 'Special Gothic Expanded One', sans-serif;
    font-size: 1.8em;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

nav a {
    color: #E7D8AA;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav a:hover {
    color: #FFD700;
    text-shadow: 0 0 10px #FFD700;
}

nav a:active {
  background-color: #EADABD;
  color: #000000;
}

nav a:focus {
  outline: 2px solid #d60000;
}

nav {
    text-align: center;
    margin: 15px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
nav a {
    color: #EADABD;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 18px;
    }
nav a:hover {
    color: #EADABD;
    text-decoration: underline;
    }

.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 30px 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    width: 320px;
    display: flex;
    flex-direction: column;
}

/* Label dan input */
label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    color: #333;
}

input, select {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #bbb;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: goldenrod;
}

button {
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #d4a017;
    transform: translateY(-2px);
}

footer {
    text-align: center;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.9);
    border-top: 3px solid #EADABD;
    color: #EADABD;
}

